.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
}
.stastics {
  display: flex;
  flex-grow: 1;
  width: 100%;
  gap: 6px;
  padding: 20px;
  flex-direction: row;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .chart {
    width: 60%;
    height: 600px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    @media (max-width: 768px) {
      width: 100%;
      height: fit-content;
      padding: 5px;
      font-size: 13px;
    }
    p {
      padding: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .recentOrders {
    width: 40%;
    max-height: 380px;
    min-height: fit-content;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    @media (max-width: 768px) {
      width: 100%;
      height: fit-content;
      padding: 5px;
      font-size: 13px;
    }
    p {
      padding: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
